@page
@model BeatlesModel
@{
    ViewData["Title"] = "Beatles";
}
<h1>@ViewData["Title"]</h1>

<div>

</div> <img src="https://i.etsystatic.com/19517473/r/il/91e79c/1788037064/il_1140xN.1788037064_ob6x.jpg" alt="" > <br /><br/> <H3>"Hey Jude"</H3><br>

        <br/>
        <div id="lyrics" style="color:red;text-align: center;border: 3px solid green;">
            Hey Jude, don't make it bad<br>
            Take a sad song and make it better<br>
            Remember to let her into your heart<br>
            Then you can start to make it better<br>
            <br>
            Hey Jude, don't be afraid<br>
            You were made to go out and get her<br>
            The minute you let her under your skin<br>
            Then you begin to make it better<br>
            <br>
            And anytime you feel the pain, hey Jude, refrain<br>
            Don't carry the world upon your shoulders<br>
            <div id="LB_mob1"></div>
            <div id="LB_mid1"></div>
            For well you know that it's a fool who plays it cool<br>
            By making his world a little colder<br>
            <br>
            Hey Jude, don't let me down<br>
            You have found her, now go and get her<br>
            Remember to let her into your heart<br>
            Then you can start to make it better<br>
            <br>
            So let it out and let it in, hey Jude, begin<br>
            You're waiting for someone to perform with<br>
            And don't you know that it's just you, hey Jude, you'll do<br>
            The movement you need is on your shoulder<br>
            <br>
            Hey Jude, don't make it bad<br>
            Take a sad song and make it better<br>
            Remember to let her under your skin<br>
            Then you'll begin to make it<br>
            Better better better better better better, oh<br>
            <br>
            Na na na nananana, nannana, hey Jude
        </div>
</div>