@page
@model WcmtModel
@{
    ViewData["Title"] = "When chai met toast";
}
<h1>@ViewData["Title"]</h1>

<div>
    </div> <img src="~/img/wcmt.jpg" style="display: block;margin-left: auto;margin-right: auto;width: 50%;"  alt="" > <br />
    <h3>Khoj</h3>
    <br/>
    <div id="lyrics" style="color:red;text-align: center;border: 3px solid green;">
        <p>[Verse 1]<br>
        You were the one that I found<br>
        Solla Vantha sollai te po<br>
        Why didn't you tell me enough<br>
        Solla Vantha sollai te po<br>
        <br>
        I ponder, In closure, Remember<br>
        The world that is out there for me to find<br>
        <br>
        [Chorus]<br>
        Let me go passing by<br>
        Let me go come back in time<br>
        Let me be who I am<br>
        All through this time<br>
        <br>
        Let me go passing by<br>
        Let me go come back in time<br>
        Walk in the dark<br>
        Barefoot in the night<br>
        <br>
        [Verse 2]<br>
        Walking down the way that I found<br>
        Intha ulakam naan suthavendum<br>
        Faces with smiles all around<br>
        Antha vaanam naan parka vendum<br>
        <br>
        I’ll run free<br>
        Into the sea<br>
        The world and me<br>
        I don't even know what I will find<br>
        <br>
        [Chorus]<br>
        Let me go passing by<br>
        Let me go come back in time<br>
        Let me be who I am<br>
        All through this time<br>
        <br>
        Let me go passing by<br>
        Let me go come back in time<br>
        Walk in the dark<br>
        Barefoot in the night<br>
        <br>
        [Outro]<br>
        Dil Mera khoya, jahaan<br>
        Dil Mera soya, wahan!<br>
        Dil Mera khoya, jahaan<br>
        Dil Mera soya, wahan!</p>
    <div>
</div>